<ss-screen-profile-summary
        [screenProfileSummary]="screenProfileSummary">
</ss-screen-profile-summary>
<ss-screener-container
        [screenerDetails]="screenerDetails">
</ss-screener-container>
<div class="btn-container">
    <ss-raised-button (clicked)="toggleShowAddNewEventBtn()" *ngIf="showAddNewEventBtn">
        Add New Event
    </ss-raised-button>
    <ss-raised-button (clicked)="toggleShowAddNewEventBtn()" *ngIf="!showAddNewEventBtn" color="secondary">
        Close Event Form
    </ss-raised-button>
</div>
<ng-container *ngIf="!showAddNewEventBtn">
    <ss-new-screen-event-container (submitted)="toggleShowAddNewEventBtn()"></ss-new-screen-event-container>
</ng-container>
