<mat-form-field
        class="example-full-width"
        [formGroup]="group">
  <mat-label>
    <ng-content></ng-content>
  </mat-label>
  <input matInput
         [placeholder]="placeholder"
         [matAutocomplete]="auto"
         [formControlName]="controlName"
         autocomplete="off">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option.display">
      <span>{{option.display}}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
